[Unit]
After=open5gs-udmd.service

[Service]
ExecStart=/usr/local/open5gs/bin/open5gs-pcfd
Restart=always
RestartSec=2
RestartPreventExitStatus=1

[Install]
WantedBy=default.target
