[Unit]
After=open5gs-sgwcd.service

[Service]
ExecStart=/usr/local/open5gs/bin/open5gs-sgwud
Restart=always
RestartSec=2
RestartPreventExitStatus=1

[Install]
WantedBy=default.target
