[Unit]
After=open5gs-upfd.service

[Service]
ExecStart=/usr/local/open5gs/bin/open5gs-ausfd
Restart=always
RestartSec=2
RestartPreventExitStatus=1

[Install]
WantedBy=default.target
