[Unit]
After=open5gs-udrd.service

[Service]
ExecStart=/usr/local/open5gs/bin/open5gs-mmed
Restart=always
RestartSec=2
RestartPreventExitStatus=1

[Install]
WantedBy=default.target
